@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all ease-in-out 0.3s;
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    width: 100%;
    height: 200vh;
}


nav {
    position: fixed;
    background-color: #212225;
    width: 3%;
    height: 100vh;
    -webkit-box-shadow: 4px 0px 18px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 0px 18px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 0px 18px -6px rgba(0, 0, 0, 0.75);
    z-index: 5;
}

nav:hover {
    background-color: #296379;
    width: 15%;
    border-radius: 0 8px 8px 0;
}

.nav-spacer {
    width: 3%;
}

ul {

    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

li {
    padding-left: 0.75vw;
    height: 100%;
    display: flex;
    align-items: center;
}

li:hover {
    background-color: #091525;
}

li > div {
    margin-left: 1vw;
    display: none
}

nav:hover > ul > li > div {
    display: block;
}


section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}





.content {

    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    -webkit-box-shadow: 7px 0px 18px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 0px 18px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 0px 18px -9px rgba(0, 0, 0, 0.75);
}



.login-button {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 6;
    cursor: pointer;
}

a {
    padding: 12px;
    width: 85px;
    text-align: center;
    border: solid #212225 1px;
    border-radius: 4px;
}

a:hover {
    background-color: #212225;
}


.head {

    display: flex;
    justify-content: center;
    align-items: center;
    /* The image used */
    background-image: url("https://www.teahub.io/photos/full/294-2949863_blurred-mountain-sunrise-wallpaper-evening.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 5px 18px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 18px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 18px -9px rgba(0, 0, 0, 0.75);
    z-index: 4;


}

.avatar > img {
    border-radius: 50%;
}


.about{

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #302b2f;


    -webkit-box-shadow: 2px 10px 39px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 10px 39px -15px rgba(0,0,0,0.75);
    box-shadow: 2px 10px 39px -15px rgba(0,0,0,0.75);


}

.projects {

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #37393f;


    -webkit-box-shadow: 2px 10px 39px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 10px 39px -15px rgba(0,0,0,0.75);
    box-shadow: 2px 10px 39px -15px rgba(0,0,0,0.75);



}








